<% month_name = {"01" => "Ene", "02" => "Feb", "03" => "Mar", "04" => "Abr", "05" => "May", "06" => "Jun", "07" => "Jul", "08" => "Ago", "09" => "Sep", "10" => "Oct", "11" => "Nov", "12" => "Dic"} %>
<h2 class="text-center"><%= month_name[@start_month.to_s[5..6]] %>-<%= @start_month.to_s[0..3] %></h2>
<hr>
<div class="col-md-12">
	<% if @method != "index" %>
		<%= link_to raw("<i class='fas fa-chevron-circle-left fa-2x'></i>"), {controller: 'homereportes', action: 'new', view: 'month', month: Date.civil((@start_month.month == 1 ? @start_month.year-1 : @start_month.year).to_i, (@start_month.month == 1 ? 12 : @start_month.month-1).to_i, @start_month.day), user_id: @user  } ,class: 'btn btn-primary float-right' %>
		<%= link_to raw("<i class='fas fa-chevron-circle-right fa-2x'></i>"), {controller: 'homereportes', action: 'new', view: 'month', month: @start_month.next_month, user_id: @user },class: 'btn btn-primary float-right' %>
	<div class="pull-right">
		<%= link_to "Día", {controller: 'homereportes', action: 'new', view: 'day', day: "#{DateTime.now.strftime("%Y%m%d")}", user_id: @user} ,class: 'btn btn-primary float-left' %>
		<%= link_to "Semana", {controller: 'homereportes', action: 'new', view: 'month', week: "#{Date.today}", user_id: @user } ,class: 'btn btn-primary float-left' %>
		<%= link_to "Mes", {controller: 'homereportes', action: 'new', view: 'month', month: "#{Date.today}", user_id: @user} ,class: 'btn btn-primary float-left' %>
	
	</div>
	<% else %>
		<div class="text-left">
			<%= link_to raw("<i class='fas fa-chevron-circle-left fa-2x'></i>"), {controller: 'homereportes', action: 'index', view: 'month', month: Date.civil((@start_month.month == 1 ? @start_month.year-1 : @start_month.year).to_i, (@start_month.month == 1 ? 12 : @start_month.month-1).to_i, @start_month.day), user_id: @user} ,class: 'btn btn-primary float-right' %>
			<%= link_to raw("<i class='fas fa-chevron-circle-right fa-2x'></i>"), {controller: 'homereportes', action: 'index', view: 'month', month: @start_month.next_month, user_id: @user },class: 'btn btn-primary float-right' %>
		</div>
	<% end %>
	<br><br>
	<div class=" table-responsive">
		<table class="table table-hover table-bordered text-center">
			<thead>
				<tr>
					<th>Lunes</th>
					<th>Martes</th>
					<th>Miercoles</th>
					<th>Jueves</th>
					<th>Viernes</th>
					<th>Sabado</th>
					<th>Domingo</th>
				</tr>
			</thead>
			<% contador = Date.parse(@start_month.to_s).wday %>
			<% contador = 7 if contador == 0 %>
			<tbody>
				<tr>	
				<% if contador >= 1 %>
					<% (1..contador-1).each do |n| %>
						<td></td>
					<% end %>

				<% end %>
				<% (@start_month..@end_month).each do |day|%>
					<td>
						<p class="text-left"><b><%= link_to "#{ day }", {controller: 'homereportes', action: 'new', view: 'day', day: day.to_s.gsub("-", ""), user_id: @user }  %></b></p>
						<hr>
						<% days_reports = Homereporte.where("fecha = '#{day}' and user_id = #{@show_arrow == true ? @user : current_user.id}") %>
						<ol>
							<% if days_reports.length == 0 && !(day.saturday? || day.sunday?) && day < DateTime.now  %>
									<p class="label label-danger text-center">NP</p>
							<% else %>
								<% days_reports.each do |report|%>
										<li class="text-right"><%= report.descripcion[0..9] rescue ""  %> </li>
								<% end %>
							<% end %>
						</ol>
					</td>
					<% if contador % 7 == 0 %>
						</tr>	
						<tr>	
					<% end %>
					<% contador += 1 %>
				<% end %>
				</tr>
			</tbody>
		</table>
	</div>
</div>