<h1 class="text-center">Antigüedad de Saldos Agrupados por Nombre o RFC del Cliente</h1>

<% if @antsaldos && @antsaldos.count > 0 %>

  <div class="pull-right text-right">
    <small>
      <% url = "/ant_saldos_clientes_nombre_rfc?nombre=#{@nombre}&rfc=#{@rfc}" %>
      <% if @ver_sin_aclarar %>
        <a href="<%=url%>">Ver todas</a> |
        Ver sin Aclarar
      <% else %>
        Ver todas |
        <a href="<%=url%>&sin_aclarar=1">Ver sin Aclarar</a>
      <% end %>
      <br>
      <%=@ver_dias == 0 ? "Ver En Plazo" : raw("<a href='#{url}&ver_dias=0'>Ver En Plazo</a>")%> |
      <%=@ver_dias == 30 ? "Ver 1-30" : raw("<a href='#{url}&ver_dias=30'>Ver 1-30</a>")%> |
      <%=@ver_dias == 60 ? "Ver 31-60" : raw("<a href='#{url}&ver_dias=60'>Ver 31-60</a>")%> |
      <%=@ver_dias == 90 ? "Ver 61-90" : raw("<a href='#{url}&ver_dias=90'>Ver 61-90</a>")%> |
      <%=@ver_dias == 120 ? "Ver 91+" : raw("<a href='#{url}&ver_dias=120'>Ver 91+</a>")%>        
    </small>
  </div>

  <div class="col-md-12 col-sm-12 center-block inner-top-sm">

    <small><%= link_to "Regresar", "/ant_saldos" %></small>
    <br>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered table-striped text-center" id="example">

      <thead>
        <tr>
          <th><a href="#" data-toggle="tooltip" title="Nombre de la Sucursal">Sucursal</a></th>
          <th><a href="#" data-toggle="tooltip" title="Id del Cliente">Id</a></th>
          <th><a href="#" data-toggle="tooltip" title="Nombre del Cliente">Cliente</a></th>
          <th><a href="#" data-toggle="tooltip" title="Saldo a Pagar">Saldo</a></th>
          <%=@ver_dias > 0 ? "" : raw('<th><a href="#" data-toggle="tooltip" title="Ventas dentro del Plazo">En Plazo</a></th>')%>
          <%=@ver_dias > 30 ? "" : raw('<th><a href="#" data-toggle="tooltip" title="Ventas vencidas de 1-30 Días">1-30</a></th>')%>
          <%=@ver_dias > 60 ? "" : raw('<th><a href="#" data-toggle="tooltip" title="Ventas vencidas de 31-60 Días">31-60</a></th>')%>
          <%=@ver_dias > 90 ? "" : raw('<th><a href="#" data-toggle="tooltip" title="Ventas vencidas de 61-90 Días">61-90</a></th>')%>          
          <th><a href="#" data-toggle="tooltip" title="Ventas vencidas por más de 91 Días">91+</a></th>
        </tr>
      </thead>

      <tbody>
        <% @antsaldos.each do |m| %>
          <tr>
            <td><%= link_to "#{m['Sucursal']} - #{m['NombreSuc']}", "/ant_saldos_cliente?suc=#{m['Sucursal']}&idc=#{m['Idcliente']}&ver_saldos=0" %></td>
            <td><%= link_to "#{m['Idcliente']}", "/ant_saldos_cliente?suc=#{m['Sucursal']}&idc=#{m['Idcliente']}&ver_saldos=0" %></td>
            <td><%= link_to "#{m['NombreCli']}#{m['Alias'].to_s.length > 1 ? " (#{m['Alias']})" : ""}", "/ant_saldos_cliente?suc=#{m['Sucursal']}&idc=#{m['Idcliente']}&ver_saldos=0" %></td>
            <td><%= m['sumVentas'] - m['sumPagos'] > 0 ? number_to_currency(m['sumVentas'] - m['sumPagos'], :locale => :mx, :precision => 2) : "" %></td>
            <%=@ver_dias > 0 ? "" : m['sumVentas0_30'] > 0 ? raw("<td><span class='label label-default'>") + number_to_currency(m['sumVentas0_30'], :locale => :mx, :precision => 2) + raw("</span></td>") : raw("<td></td>") %>
            <%=@ver_dias > 30 ? "" : m['sumVentas31_60'] > 0 ? raw("<td><span class='label label-success'>") + number_to_currency(m['sumVentas31_60'], :locale => :mx, :precision => 2) + raw("</span></td>") : raw("<td></td>") %>
            <%=@ver_dias > 60 ? "" : m['sumVentas61_90'] > 0 ? raw("<td><span class='label label-warning'>") + number_to_currency(m['sumVentas61_90'], :locale => :mx, :precision => 2) + raw("</span></td>") : raw("<td></td>") %>
            <%=@ver_dias > 90 ? "" : m['sumVentas91_120'] > 0 ? raw("<td><span class='label label-info'>") + number_to_currency(m['sumVentas91_120'], :locale => :mx, :precision => 2) + raw("</span></td>") : raw("<td></td>") %>            
            <td><%= m['sumVentas121_'] > 0 ? raw("<span class='label label-danger'>") + number_to_currency(m['sumVentas121_'], :locale => :mx, :precision => 2) + raw("</span>") : "" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br />


  </div>

<% else %>

  Sin Datos.

<% end %>



<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
label{
  display: none;
}
.dataTables_filter.md-form {
    margin-top: .55rem;
}
.dataTables_filter.md-form input{
    font-weight: 300;
}
.dataTables_wrapper .row {
    margin-bottom: 1.5rem;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    padding-bottom: 1rem;
}
.dataTables_paginate {
    float: right;
}
.dataTables_filter {
    float: right;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
  $('#example').DataTable({"pageLength": 100 });
  $('.dataTables_wrapper').find('label').each(function() {
    $(this).parent().append($(this).children());
  });
  $('.dataTables_filter').find('input').each(function() {
    $('input').attr("placeholder", "Buscar");
    $('input').removeClass('form-control-sm');
  });
  $('.dataTables_length').addClass('d-flex flex-row');
  $('.dataTables_filter').addClass('md-form');
  $('select').addClass('mdb-select');
  $('.mdb-select').removeClass('form-control form-control-sm');
  $('.dataTables_filter').find('label').remove();
});
</script>

