<p id="notice"><%= notice %></p>

<h1>Listing Webservices Auths</h1>

<table>
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>Descripcion</th>
      <th>Respuesta</th>
      <th>Status</th>
      <th>Fechahora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webservices_auths.each do |webservices_auth| %>
      <tr>
        <td><%= webservices_auth.sucursal %></td>
        <td><%= webservices_auth.descripcion %></td>
        <td><%= webservices_auth.respuesta %></td>
        <td><%= webservices_auth.status %></td>
        <td><%= webservices_auth.fechaHora %></td>
        <td><%= link_to 'Show', webservices_auth %></td>
        <td><%= link_to 'Edit', edit_webservices_auth_path(webservices_auth) %></td>
        <td><%= link_to 'Destroy', webservices_auth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webservices auth', new_webservices_auth_path %>
