<% if @sistemawp.to_i == 0 %>
    <h1 class="text-center">Cotizaciones</h1>
    <h2 class="text-center">Sucursal : <%= @sucursal %> <%= @nomsuc %></h2>
  	<h3 class="text-center"><%= @titulomov %></h3>
    <h5 class="text-left"><b>Vendedor : <%= @nomvendedor %></b></h5>
<% else %>
    <h1 class="text-center">Cotizaciones</h1>
    <h2 class="text-center">Sucursal : <%= @sucursal %> <%= @nomsuc %></h2>
  	<h3 class="text-center"><%= @titulomov %></h3>
	<h5 class="text-left"><b>Vendedor : <%= @nomvendedor %></b></h5>
<% end %>
<br>

<% if @hcarrito && @hcarrito.count > 0 %>
	<div class="col-md-12 col-sm-12 center-block inner-top-sm">
		<div class="well well-sm">
			<% if @cliente && @cliente.to_i > 0 %>
	  		<p align=center class="titulo3x">Cliente : <%= @cliente %> <%= @nomcli %></p>
			<% end %>
			<% if @idobratitulo.to_i > 0 %>
  			<p align=center class="titulo3x">Asignado a la Obra : <%= @idobratitulo %> - <%= @nomidobratitulo %></p>
			<% end %>
			<% if @idsuctitulo.to_i > 0 and @movnvo != "Z" %>
		    <% tituloopc = "Sucursal que Surte :" %>
		    <% tituloopc = "Sucursal que Entrega :" if @movnvo.to_s == "IE" %>
		    <% tituloopc = "Sucursal que Recibe :" if @movnvo.to_s == "IS" %>
  			<p align=center class="titulo3x"><%= tituloopc %> <%= @idsuctitulo %> - <%= @nomidsuctitulo %></p>
			<% end %>
		</div>
	</div>
<% end %>

<div class="col-md-12 col-sm-12 center-block inner-top-sm">
	<div class="well well-sm">
		<a id="margenh20" class="btn pull-left btn-info btn-sm" href="/pdv" role="button"><span class="glyphicon glyphicon-backward"></span> Volver</a>
		<a id="margenh20" class="btn pull-left btn-info btn-sm" href="/pdv_selprod?vendedor=<%=@vendedor%>&movnvo=<%= @movnvo %>" role="button"><span class="glyphicon glyphicon-search"></span> Buscar por Líneas de Productos</a>
		<div class="loader-form">
			<form class="form-inline" role="form">
	      <%= hidden_field_tag 'cliente', @cliente %>
	      <%= hidden_field_tag 'fin_sel_prod', @fin_sel_prod %>
				<%= hidden_field_tag 'movnvo', @movnvo %>
				<%= hidden_field_tag 'vendedor', @vendedor %>
			  <div class="form-group">
					<label class="control-label" for="inputPassword">Nombre ó Clave del Producto</label>
					<input id="q" name="q" type="text" class"input" maxlength="50" value="<%= params[:q] if params.has_key?(:q) %>" placeholder="Vinimex Blanco ó 0200700" autofocus/> 
			  </div>
				<button class="btn btn-info btn-sm" type="submit" id="botonBuscar"><span class="glyphicon glyphicon-search"></span> Buscar</button>
			</form>
		</div>
	</div>
</div>

<div class="col-md-12 col-sm-12 center-block inner-top-sm">
  <ul class="nav nav-tabs">
  	<% if @tab == "1" %>
	  	<li class="active"><a href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> Productos</a></li>
		 	<% if @hcarrito && @hcarrito.count > 0 %>
	   		<li><a href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-shopping-cart"></span> Carrito</a></li>
		 	<% end %>
  	<% else %>
	  	<li><a href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-tasks"></span> Productos</a></li>
		 	<% if @hcarrito && @hcarrito.count > 0 %>
	   		<li class="active"><a href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-shopping-cart"></span> Carrito</a></li>
		 	<% end %>
  	<% end %>
  </ul>

  <div class="tab-content">
  	<% if @tab == "1" %>
    <div class="tab-pane active" id="tab1">
  	<% else %>
    <div class="tab-pane" id="tab1">
  	<% end %>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<% if @productos && @productos.count > 0 %>
						<div class="row">
							<% @productos.each do |s| %>
					      <div class="col-xs-10 col-sm-4 col-md-3 col-lg-2">
									<% if @fin_sel_prod.to_i == 0 %>
						        <div id="imagen_sel_fija" class="thumbnails" >
				        	<% else %>
						        <div id="imagen_sel_fija_s" class="thumbnails" >
				        	<% end %>
					          <div class="caption">
					            <h4 align=left><span class="badge">Precio: $ <%= number_to_currency(s['PreUniFac'], :locale => :mx, :unit => "", :precision => 2) %></span></h4>
					            
					          </div>

					          <% @Logo = "/nuevo.jpg" %>
            				<!--<img src="<%= @Logo %>" class="img-responsive" alt="Responsive image">-->

					          <div class="caption">
				             	<p align=center><%= s['DescripLar'] %></p>
				             	<p align=center><%= s['CveAsoc'] %></p>
				             	<% if s['DescripLar'].length < 19 %>
				                <span class="label"> </span>
				             	<% end %>
			                <p align=center>

      									<% if @fin_sel_prod.to_i == 0 %>
													<% if params.has_key?(:cveant) %>
													<%   cvetxt = 'cveant' %>
													<%   cve = params[:cveant] %>
													<% else %>
													<%   cvetxt = 'q' %>
													<%   cve = params[:q] %>
													<% end %>
													<a class="btn pull-right btn-info btn-xs" href="/pdv_selprod?vendedor=<%=@vendedor%>&cliente=<%= @cliente %>&movnvo=<%=@movnvo%>&<%=cvetxt%>=<%= cve %>&clave=<%=s['Clave']%>&cveasoc=<%=s['CveAsoc']%>&descrip=<%=s['DescripLar']%>&tipoclave=<%=s['TipoClave']%>&preciolp=<%=s['PrecioLp']%>&costolp=<%=s['CostoLp']%>&precio=<%=s['PreUniFac']%>&cantidad=<%=s['Cantidad']%>&unidmedida=<%=s['UnidMedida']%>&agregar=1" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar</a>
						              <% if s['IdCanRefLista'].to_f == 0 && s['RefLista'].to_f == 1 %>
						                <span class="label label-success"> Nuevo</span>
					                <% else %>
						                <span class="label"> </span>
						              <% end %>
							          <% end %>

				              </p>
					          </div>
					        </div>
					      </div>
							<% end %>
						</div>
					<% end %>

					<% if !params.has_key?(:q) %>
						<div class="panel panel-info">
						  <div class="panel-heading">
								<% if @cveant_r != "***" %>
								  <% if params.has_key?(:regreso) && params[:regreso] == "1" %>
								    <a class="btn pull-right btn-info btn-xs" href="/pdv_selprod?vendedor=<%=@vendedor%>&cliente=<%= @cliente %>&movnvo=<%=@movnvo%>&cveant=<%=@regreso[0]['CveAnt']%>&regreso=1" role="button"><span class="glyphicon glyphicon-backward"></span> Regresar</a>
								  <% else %>
								  	<% if params.has_key?(:cveant) && params[:cveant] != "***" %>
									    <a class="btn pull-right btn-info btn-xs" href="/pdv_selprod?vendedor=<%=@vendedor%>&cliente=<%= @cliente %>&movnvo=<%=@movnvo%>&cveant=<%=params[:cveant]%>&regreso=1" role="button"><span class="glyphicon glyphicon-backward"></span> Regresar</a>
									  <% end %>
								  <% end %>
								<% end %>
						    <h3 class="panel-title">Selección por Líneas de Productos</h3>
						  </div>
							<div class="panel-body">
								<div class="row">
									<% @prodtree.each do |m| %>
									  <div class="col-xs-5 col-sm-2 col-md-2 col-lg-1">
									    <a class="btn btn-primary" href="/pdv_selprod?vendedor=<%=@vendedor%>&cliente=<%= @cliente %>&movnvo=<%=@movnvo%>&cveant=<%=m['Clave']%>&fin_sel_prod=<%=@fin_sel_prod%>" role="button"><%=m['Descp1']%><br><%=m['Descp2']%></a>
									  </div>


									<% end %>
								</div>
							</div>
						</div>
					<% end %>


				</div>
			</div>
		</div>

		<% if @hcarrito && @hcarrito.count > 0 %>
	  	<% if @tab == "1" %>
	    <div class="tab-pane" id="tab2">
	  	<% else %>
	    <div class="tab-pane active" id="tab2">
	  	<% end %>
				<div class="panel panel-default">
				  <div class="panel-body">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block inner-top-sm">

								<div id="margenvh5" class="btn-group">
								  <button type="button" class="btn btn-info btn-sm">Opciones de Cotización</button>
								 
								  <button type="button" class="btn btn-info btn-sm dropdown-toggle"
								          data-toggle="dropdown">
								    <span class="caret"></span>
								    <span class="sr-only">Desplegar menú</span>
								  </button>
								 
								  <ul class="dropdown-menu" role="menu">
								  	<% if @fin_sel_prod.to_i == 1 %>
									    <li><a href="/pdv_selprod?vendedor=<%=@vendedor%>&movnvo=<%=@movnvo%>&finalizar=1"><span class="glyphicon glyphicon-saved"></span> Finalizar</a></li>
								    <% end %>
								    <li class="divider"></li>
								    <li><a href="/pdv_selprod?vendedor=<%=@vendedor%>&movnvo=<%=@movnvo%>&pendiente=1"><span class="glyphicon glyphicon-pause"></span> Dejar Pendiente</a></li>
								    <li class="divider"></li>
								    <li><a href="/pdv_selprod?vendedor=<%=@vendedor%>&movnvo=<%=@movnvo%>&cancelar=1" data-confirm="Está seguro de eliminar la cotización?"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></li>
								  </ul>
								</div>

								<% if @fin_sel_prod.to_i == 1 %>
	
							    <% if @movnvo.to_s == "Z" %>
								    <a id="margenvh5" class="btn btn-info btn-sm" href="/pdv_cotiza_edit?vendedor=<%=@vendedor%>&numcotiza=<%=@numcotiza%>&nummov=<%=@nummov%>&movnvo=<%=@movnvo%>" role="button"><span class="glyphicon glyphicon-edit"></span> Datos Cotización</a>
								    <a id="margenvh5" class="btn btn-info btn-sm" href="/pdv_selprod?vendedor=<%=@vendedor%>&movnvo=<%=@movnvo%>&pdf=1" role="button"><span class="glyphicon glyphicon-file"></span> Crear PDF</a>
								    <% if @existePdf.to_i == 1 %>
		                  <a id="margenvh5" class="btn btn-info btn-sm margenvh5" target="_blank" href="tmpfiles/<%= '%03d' % @sucursal %>-<%= '%03d' % @vendedor %>-<%= '%05d' % @numcotiza %>-p.pdf" role="button"><span class="glyphicon glyphicon-eye-open"></span> PDF</a> 
	                  <% end %>
							    <% else %>
										<div id="margenvh5" class="btn-group">
										  <button type="button" class="btn btn-info btn-sm">Obra</button>
										 
										  <button type="button" class="btn btn-info btn-sm dropdown-toggle"
										          data-toggle="dropdown">
										    <span class="caret"></span>
										    <span class="sr-only">Desplegar menú</span>
										  </button>
										 
										  <ul class="dropdown-menu" role="menu">
										    <li><a href="/pdv_selobra?vendedor=<%=@vendedor%>&movnvo=<%=@movnvo%>"><span class="glyphicon glyphicon-th"></span> Asignar</a></li>
										    <li class="divider"></li>
										    <li><a href="#" data-toggle="modal" data-target="#modalObra"><span class="glyphicon glyphicon-plus"></span> Crear</a></li>
										  </ul>
										</div>
									<% end %>

							    <% if @movnvo.to_s == "V" %>
								    <a id="margenvh5" class="btn btn-info btn-sm" href="/pdv_selsuc?vendedor=<%=@vendedor%>&movnvo=<%=@movnvo%>" role="button"><span class="glyphicon glyphicon-search"></span> Sucursal que Surte</a>
									<% end %>

						    <% else %>
							    <% if @movnvo.to_s == "V" or @movnvo.to_s == "Z" %>
								    <a id="margenvh5" class="btn btn-info btn-sm" href="/pdv_selcli?vendedor=<%=@vendedor%>&cliente=<%=@cliente%>&movnvo=<%=@movnvo%>" role="button"><span class="glyphicon glyphicon-search"></span> Seleccionar Cliente</a>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-primary">
				  <div class="panel-heading">
							<% if @fin_sel_prod.to_i == 0 %>
						    <a class="btn pull-right btn-info btn-xs" href="/pdv_selprod?vendedor=<%=@vendedor%>&cliente=<%= @cliente %>&movnvo=<%=@movnvo%>&fin_sel_prod=1&save_fin_sel_prod=1&tab=2" role="button"><span class="glyphicon glyphicon-ok-circle"></span> Terminar Selección de Productos</a>
						    <br>
					    <% else %>
						    <a class="btn pull-right btn-success btn-xs" href="/pdv_selprod?vendedor=<%=@vendedor%>&cliente=<%= @cliente %>&movnvo=<%=@movnvo%>&fin_sel_prod=0&save_fin_sel_prod=1&tab=2" role="button"><span class="glyphicon glyphicon-tasks"></span> Modificar Productos</a>
							<% end %>
							<br>
				    <h3 class="panel-title text-center">Productos Seleccionados</h3>
				  </div>
					<div class="panel-body fixed-panel" data-spy="scroll">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		            <div class="row">
		              <table cellpadding="0" cellspacing="0" border="0" class="table-condensed table-hover table-bordered table-striped" id="dcarrito">
		                <thead>
		                  <tr>
		                    <th><a href="#" data-toggle="tooltip" title="Número de Renglón">Renglón</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="CveAsoc del Producto">CveAsoc</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Descripción del Producto">Descripción</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Unidad de Medida">Unidad</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Precio de Lista">Precio Lista</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Cantidad">Cantidad</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Precio Unitario">Precio Unit.</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Porcentaje de Descuento">% Desc.</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Porcentaje de Descuento">$ Desc.</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Total Renglón">Total</a></th>
		                    <th><a href="#" data-toggle="tooltip" title="Tipo de Descuento">Tipo Desc.</a></th>
												<% if @fin_sel_prod.to_i == 0 %>
                  				<th><a href="#" data-toggle="tooltip" title="Acción a Ejecutar">Acción</a></th>
                  			<% end %>
		                  </tr>
		                </thead>
		                <tbody>
		                  <% @dcarrito.each do |s| %>
		                    <tr>
		                      <td><%= s['Idrenglon'] %></td>
		                      <td><%= s['Cveasoc'] %></td>
		                      <td><%= s['Descrip'] %></td>
		                      <td><%= s['UMedida'] %></td>
		                      <td><P align=right><%= number_to_currency(s['Preciolp'], :locale => :mx, :unit => "", :precision => 2) %></td>

		                      <td><P align=right><%= number_to_currency(s['Cantidad'], :locale => :mx, :unit => "", :precision => 2) %></td>

		                      <td><P align=right><%= number_to_currency(s['Preunifac'], :locale => :mx, :unit => "", :precision => 2) %></td>
		                      <td><P align=right><%= number_to_currency(s['Pordesfac'], :locale => :mx, :unit => "", :precision => 2) %></td>
		                      <td><P align=right><%= number_to_currency(s['PordesfacP'], :locale => :mx, :unit => "", :precision => 2) %></td>
		                      <td><P align=right><%= number_to_currency(s['Totrenfac'], :locale => :mx, :unit => "", :precision => 2) %></td>
		                      <td><%= s['Tipodesc'] %></td>
													<% if @fin_sel_prod.to_i == 0 %>
	                    			<td>
		                          <p>
		                            <a class="btn btn-success btn-xs" href="/pdv_selprod_edit?vendedor=<%=@vendedor%>&nummov=<%=s['Nummov']%>&cliente=<%= @cliente %>&clave=<%=s['Clave']%>&idrenglon=<%=s['Idrenglon']%>&descrip=<%=s['Descrip']%>&movnvo=<%=@movnvo%>" role="button"><span class="glyphicon glyphicon-edit"></span> Editar</a>
		                          </p>
		                          <p>
		                            <a class="btn btn-default btn-xs active" href="/pdv_selprod_destroy?vendedor=<%=@vendedor%>&nummov=<%=s['Nummov']%>&cliente=<%= @cliente %>&clave=<%=s['Clave']%>&idrenglon=<%=s['Idrenglon']%>&descrip=<%=s['Descrip']%>&movnvo=<%=@movnvo%>" data-confirm="Está seguro de eliminar el Producto ( <%=s['Descrip']%> )?" role="button"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
		                          </p>
	                    			</td>
                    			<% end %>
		                    </tr>
		                  <% end %>
		                </tbody>
		              </table>
		            </div>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8">
						<div class="panel panel-primary">
						  <div class="panel-heading">
						    <h3 class="panel-title">Totales</h3>
						  </div>
							<div class="panel-body" data-spy="scroll">
								<form class="form-horizontal" role="form">
						      <% if @cliente.to_i > 0 %>
									  <div class="form-group">
									    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
											  <% if @hcarrito[0]['Descfac'].to_f > 0 %>
												  <% if @hcarrito[0]['Ivafac'].to_f > 0 %>
													  <p align=left class="titulo2">Suma</p>
												  <% else %>
													  <p align=left class="titulo2">Sub Total</p>
												  <% end %>
											  <% else %>
												  <% if @hcarrito[0]['Ivafac'].to_f > 0 %>
													  <p align=left class="titulo2">Sub Total</p>
												  <% end %>
											  <% end %>
									    </div>
										  <% if @hcarrito[0]['Descfac'].to_f > 0 or @hcarrito[0]['Ivafac'].to_f > 0 %>
										    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
												  <p align=right class="titulo2"><%= number_to_currency(@hcarrito[0]['Subtotfac'].to_f, :locale => :mx, :unit => "", :precision => 2) %></p>
										    </div>
										  <% end %>
									  </div>
									  <% if @hcarrito[0]['Descfac'].to_f > 0 %>
										  <div class="form-group">
										    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
												  <p align=left class="titulo2">Desc. <%= number_to_currency(@hcarrito[0]['Pordescfac'].to_f, :locale => :mx, :unit => "", :precision => 2) %> %</p>
										    </div>
										    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
												  <p align=right class="titulo2"><%= number_to_currency(@hcarrito[0]['Descfac'].to_f, :locale => :mx, :unit => "", :precision => 2) %></p>

										    </div>
										  </div>
										  <% if @hcarrito[0]['Ivafac'].to_f > 0 %>
											  <div class="form-group">
											    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
													  <p align=left class="titulo2">Sub Total</p>
											    </div>
											    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
													  <p align=right class="titulo2"><%= number_to_currency(@hcarrito[0]['Subtotfac'].to_f - @hcarrito[0]['Descfac'].to_f, :locale => :mx, :unit => "", :precision => 2) %></p>

											    </div>
											  </div>
										  <% end %>
									  <% end %>
									  <% if @hcarrito[0]['Ivafac'].to_f > 0 %>
										  <div class="form-group">
										    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
												  <p align=left class="titulo2">I.V.A. <%= number_to_currency(@ivatxt, :locale => :mx, :unit => "", :precision => 2) %> %</p>
										    </div>
										    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
												  <p align=right class="titulo2"><%= number_to_currency(@hcarrito[0]['Ivafac'].to_f, :locale => :mx, :unit => "", :precision => 2) %></p>

										    </div>
										  </div>
									  <% end %>
								  <% end %>
								  <div class="form-group">
								    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
										  <p align=left class="titulo2">Total</p>
								    </div>
								    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
										  <p align=right class="titulo2"><%= number_to_currency(@hcarrito[0]['Total'].to_f, :locale => :mx, :unit => "", :precision => 2) %></p>
								    </div>
								  </div>
								</form>
							</div>
						</div>
					</div>
				</div>


			</div>
		<% end %>

	</div>
</div>

<div class="modal fade" id="modalDescuento" tabindex="-1" role="dialog" aria-labelledby="modalDescuentoLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalDescuentoLabel">Descuento %</h4>
      </div>

      <form class="form-inline" role="form">

	      <div class="modal-body">
					<%= hidden_field_tag 'tab', '2' %>
					<%= hidden_field_tag 'seltipodesc', '1' %>
					<%= hidden_field_tag 'movnvo', params[:movnvo] %>
					<%= hidden_field_tag 'vendedor', params[:vendedor] %>
          <div class="form-group">
			      <label for="descporce">Porcentaje : </label>
		        <input id="descporce" name="descporce" type="text" value="0" autofocus/>
          </div>
	      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Cambiar</button>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="modalDescuentoP" tabindex="-1" role="dialog" aria-labelledby="modalDescuentoPLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalDescuentoPLabel">Descuento $</h4>
      </div>

      <form class="form-inline" role="form">

	      <div class="modal-body">
					<%= hidden_field_tag 'tab', '2' %>
					<%= hidden_field_tag 'seltipodesc', '2' %>
					<%= hidden_field_tag 'movnvo', params[:movnvo] %>
					<%= hidden_field_tag 'vendedor', params[:vendedor] %>
          <div class="form-group">
			      <%= label_tag 'descpesos', 'Cantidad : ' %>
		        <input id="descpesos" name="descpesos" type="text" value="0" autofocus/>
          </div>
	      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Cambiar</button>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="modalObra" tabindex="-1" role="dialog" aria-labelledby="modalObraLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalObraLabel">Catálogo de Obras</h4>
      </div>

      <form class="form-inline" role="form">

	      <div class="modal-body">
					<%= hidden_field_tag 'tab', '2' %>
					<%= hidden_field_tag 'movnvo', params[:movnvo] %>
					<%= hidden_field_tag 'vendedor', params[:vendedor] %>
          <div class="form-group">
			      <%= label_tag 'nomobra', 'Nombre de la Obra : ' %>
            <input id="nomobra" name="nomobra" type="text" autofocus/>
          </div>
	      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="modal fade" id="modalDiasCotiza" tabindex="-1" role="dialog" aria-labelledby="modalDiasCotizaLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalDiasCotizaLabel">Vigencia en Dias</h4>
      </div>

      <form class="form-inline" role="form">

	      <div class="modal-body">
					<%= hidden_field_tag 'finalizar', '1' %>
					<%= hidden_field_tag 'tab', '2' %>
					<%= hidden_field_tag 'movnvo', params[:movnvo] %>
					<%= hidden_field_tag 'vendedor', params[:vendedor] %>
          <div class="form-group">
			      <%= label_tag 'diascotiza', 'Cantidad : ' %>
            <input id="diascotiza" name="diascotiza" autofocus/>
          </div>
	      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>

      </form>

    </div>
  </div>
</div>

<script type="text/javascript" language="javascript" src="/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/dataTables.bootstrap.js"></script>
<%= javascript_include_tag "/dt_v3" %>


<script>
	
  $(document).ready(function() {


    $('#creaPDF').click( function() {
      $.ajax({
        url: "/pdv_selprod?movnvo=<%=@movnvo%>&pdf=1",
        dataType: 'json',
        success: function( json ) {
        }
      });
  	});

		$('.modal').on('shown.bs.modal', function() {
		  $(this).find('[autofocus]').focus();
		});

		$(this).find('[autofocus]').focus();
	  //document.getElementById("q").focus();

  });
</script>
