<div class="col-md-12 col-sm-12">
    
  <h1>Reporte de Problemas</h1>
          
  <div class="col-md-12 col-sm-12 center-block inner-top-sm">

    <div class="pull-right">
      <p><%= paginate @reporte_de_problemas %></br></p>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered">

      <tr>
        <th>Fecha</th>
        <th>Sitio</th>
        <th>Email</th>
        <th>Descripcion</th>
        <th></th>
      </tr>

      <% @reporte_de_problemas.each do |reporte_de_problema| %>
        <tr>
          <td><%= reporte_de_problema.created_at.to_s[0..9] %></td>
          <td><%= reporte_de_problema.nombreWeb %></td>
          <td><%= reporte_de_problema.email %></td>
          <td><a href="<%= reporte_de_problema %>" title="" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="<%= reporte_de_problema.descripcion %>"><%= reporte_de_problema.descripcion[0..15] %></a></td>
          <td><%= link_to "Ver", reporte_de_problema, class: "btn btn-small" %></td>
        </tr>
      <% end %>
    </table>

    <div class="pull-right">
      <p><%= paginate @reporte_de_problemas %></p>
    </div>
  </div>
</div>

