
<%= render(partial: '/notificaciones/navpills') %>
<br><br><br>
<h1 class="text-center">Push Tokens de Dispositivos a Notificar</h1>

<div class="col-md-12 col-sm-12 center-block inner-top-sm">


	<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered table-striped text-center" id="example">

	  <thead>
	    <tr>
	      <th>Usuario</th>
	      <th>Device</th>
	      <th>Push Token</th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @push_tokens.each do |i| %>
	      <tr>
	        <td><strong><%= i.user.email if i.user %></strong></td>
	        <td><%= i.deviceName %></td>
	        <td><%= i.push_token %></td>
	        <td>
	        	<%= link_to 'Enviar Prueba', "/notificaciones/push_token_test?id=#{i.id}", data: { confirm: 'Está seguro?' }, class: "btn btn-xs btn-primary" %>

	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

</div>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
label{
  display: none;
}
.dataTables_filter.md-form {
    margin-top: .55rem;
}
.dataTables_filter.md-form input{
    font-weight: 300;
}
.dataTables_wrapper .row {
    margin-bottom: 1.5rem;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    padding-bottom: 1rem;
}
.dataTables_paginate {
    float: right;
}
.dataTables_filter {
    float: right;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
  $('#example').DataTable({"pageLength": 100 });
  $('.dataTables_wrapper').find('label').each(function() {
    $(this).parent().append($(this).children());
  });
  $('.dataTables_filter').find('input').each(function() {
    $('input').attr("placeholder", "Buscar");
    $('input').removeClass('form-control-sm');
  });
  $('.dataTables_length').addClass('d-flex flex-row');
  $('.dataTables_filter').addClass('md-form');
  $('select').addClass('mdb-select');
  $('.mdb-select').removeClass('form-control form-control-sm');
  $('.dataTables_filter').find('label').remove();
});
</script>
