<br><br>
<%= render(partial: '/supervisiones/navpills') %>

<div class="col-sm-9">

	<h3 class="text-center"><small>Categorías de Checklist:</small><br><%= @checklist[0]['Nombre'] %> <a href="/supervisiones/checklist_edit?id=<%= @checklist[0]['IdChecklist'] %>" class="btn btn-info btn-xs">Cambiar</a></h3>

	<br>

	<table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered table-striped text-center" id="example">

	  <thead>
	    <tr>
	      <th>Orden-Id</th>
	      <th>Nombre</th>
	      <th>Frecuencia</th>
	      <th>Activo</th>
	      <th>Campos</th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @categorias.each do |i| %>
	      <tr>
	      	<% id = "#{i['IdChecklist']}-#{i['IdCatChecklist']}" %>
	        <td><%= "#{i['Orden']}-#{i['IdCatChecklist']}" %></td>
	        <td><strong><%= i['Nombre'] %></strong></td>
	        <td><%= i['Frecuencia'] %></td>
	        <td><%= i['Activo'].to_i > 0 ? "Activa" : "Inactiva" %></td>
	        <td><%= i['IdFldChecklist'].to_i > 0 ? i['CamCount'] : "0" %></td>
	        <td>
	        	<%= link_to 'Editar', "/supervisiones/campos?id=#{id}", class: "btn btn-xs btn-primary" %>
	        	<%= link_to 'Borrar', "/supervisiones/category_destroy?id=#{id}", method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-xs btn-danger" %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>
	<%= link_to "Crear Categoría", "/supervisiones/category_new?id=#{@checklist[0]['IdChecklist']}", class: "btn btn-primary" %></td>

	<br>
	<br>
	<%= link_to 'Regresar', '/supervisiones/checklists' %>

</div>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
label{
  display: none;
}
.dataTables_filter.md-form {
    margin-top: .55rem;
}
.dataTables_filter.md-form input{
    font-weight: 300;
}
.dataTables_wrapper .row {
    margin-bottom: 1.5rem;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    padding-bottom: 1rem;
}
.dataTables_paginate {
    float: right;
}
.dataTables_filter {
    float: right;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
  $('#example').DataTable({"pageLength": 100 });
  $('.dataTables_wrapper').find('label').each(function() {
    $(this).parent().append($(this).children());
  });
  $('.dataTables_filter').find('input').each(function() {
    $('input').attr("placeholder", "Buscar");
    $('input').removeClass('form-control-sm');
  });
  $('.dataTables_length').addClass('d-flex flex-row');
  $('.dataTables_filter').addClass('md-form');
  $('select').addClass('mdb-select');
  $('.mdb-select').removeClass('form-control form-control-sm');
  $('.dataTables_filter').find('label').remove();
});
</script>

