<%= form_tag(@url, html: { class: 'form-horizontal' }) do %>

  <div class="form-inputs loader-form">
    <%= hidden_field_tag 'id', params[:id] %>
    <%= hidden_field_tag 'fecha_o_dia', fecha_o_dia_a_string(@todo_programado) %>

    <br>

    <div class="form-group">
      <label class="control-label col-md-4">Fecha o Día</label>
      <div class="col-md-6 text-right">
        <ul class="nav nav-tabs" role="tablist">
          <li role="fecha-o-dia" class="<%= fecha_o_dia_a_active(@todo_programado, "fecha") %>"><a href="#fecha" aria-controls="fecha" role="tab" data-toggle="tab">Fecha (Una Vez)</a></li>
          <li role="fecha-o-dia" class="<%= fecha_o_dia_a_active(@todo_programado, "dia") %>"><a href="#dia" aria-controls="dia" role="tab" data-toggle="tab">Día (Recurrente)</a></li>
        </ul>
        <div class="tab-content well">
          <div role="tabpanel" class="tab-pane <%= fecha_o_dia_a_active(@todo_programado, "fecha") %>" id="fecha">
            <%= select_tag 'FechaProgramada', options_for_select(fechas_futuras(), @todo_programado ? @todo_programado['FechaProgramada'] : Date.tomorrow.to_s[0..10] ), class: 'form-control' %>
            <p class="help-block">Selecciona la Fecha cuando se generará el Ticket</p>
          </div>
          <div role="tabpanel" class="tab-pane <%= fecha_o_dia_a_active(@todo_programado, "dia") %>" id="dia">
            <%= select_tag 'DiaDeMes', options_for_select((1..31).to_a, @todo_programado ? @todo_programado['DiaDeMes'] : 1 ), class: 'form-control' %>
            <p class="help-block">Selecciona el Día Recurrente del Mes cuando se generará el Ticket</p>
          </div>
        </div>      
      </div>
    </div>

    <br>

    <div class="form-group">
      <label class="control-label col-md-4">Grupo</label>
      <div class="col-md-6 text-right">
        <%= select_tag 'Tipo', options_for_select(@grupos, @todo_programado ? @todo_programado['Tipo'] : 1), class: 'form-control' %>
        <p class="help-block">Selecciona el Grupo del Ticket</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-4">Status Inicial</label>
      <div class="col-md-6 text-right">
        <%= select_tag 'Status', options_for_select(@status, @todo_programado ? @todo_programado['Status'] : 1 ), class: 'form-control submitable' %>
        <p class="help-block">Selecciona el Status Inicial del Ticket</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-4">Días para Fecha Límite</label>
      <div class="col-md-6 text-right">
        <%= select_tag 'DiasFechaLimite', options_for_select((1..31).to_a.map{ |num| [ num, num ] }.unshift(["Ninguno", 0]), @todo_programado ? @todo_programado['DiasFechaLimite'] : 0 ), class: 'form-control' %>
        <p class="help-block">Selecciona los Días a partir de la Creación del Ticket como Fecha Límite Inicial</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3">Mensaje *</label>
      <div class="col-md-7 text-right">
        <%= text_area_tag 'Texto', @todo_programado ? @todo_programado['Texto'] : nil, size: "50x10", class: "form-control", placeholder: "Mensaje" %>
        <p class="help-block">Ingrese el Mensaje Inicial del Ticket</p>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-3">
      <br>
      <div class="form-actions loader-form text-center">
        <%= submit_tag "Enviar", class: "btn btn-primary " %>
      </div>
      <br><br>
    </div>

  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      $('input#fecha_o_dia').val(e.target.href.split("#")[1].toUpperCase());
    })
  });
</script>