<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @ant_saldos_emails_enviado.email %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ant_saldos_emails_enviado.fecha %>
</p>

<%= link_to 'Edit', edit_ant_saldos_emails_enviado_path(@ant_saldos_emails_enviado) %> |
<%= link_to 'Back', ant_saldos_emails_enviados_path %>
