<div class="fluid-container">

	<h1 class="text-center">Dashboard de Tickets</h1>
	<div class="row">
		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-sm bg-info">
				<div class="card-body">
					<div class="mb-4 clearfix">
						<div class="float-left text-warning text-left">
							<i class="fas fa-clipboard-list fa-5x"></i>
						</div>
						<div class="float-right text-right">
							<h6>Tickets abiertos</h6>
						</div>
					</div>
					<div class="text-right centrado">
						<div class="display-3"><%= @count_open %></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-sm bg-info">
				<div class="card-body">
					<div class="mb-4 clearfix">
						<div class="float-left text-warning text-left">
							<i class="fas fa-cogs fa-5x"></i>
						</div>
						<div class="float-right text-right">
							<h6 class="m-0">Tickets en proceso</h6>
						</div>
					</div>
					<div class="text-right centrado">
						<div class="display-3"><%= @count_pending %></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-4 mb-5">
			<div class="card card-sm bg-info">
				<div class="card-body">
					<div class="mb-4 clearfix">
						<div class="float-left text-warning text-left">
							<i class="fas fa-check-square fa-5x"></i>
						</div>
						<div class="float-right text-right">
							<h6 class="m-0">Tickets cerrados</h6>
						</div>
					</div>
					<div class="text-right centrado">
						<div class="display-3"><%= @tickets_closed.count %></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="card col-md-12 col-sm-12 col-xl-5 ">
		  <div class="card-header text-center">
		    Agentes
		  </div>
		  <div class="card-body text-center table-responsive">
		  	<table class="table">
		  		<thead>
		  			<tr>
				      <th scope="col">Customer</th>
				      <th scope="col">Tickets Abiertos</th>
				      <th scope="col">Tickets Cerrados</th>
				    </tr>
		  		</thead>
		  		<tbody>
					  <% @agents.reverse_each do |agente| %>
					  		<% if agente.active == true %>
							  	<tr>
								  <td><%= agente.firstname %> <%= agente.lastname %></td>
								  <td><%= agente.preferences[:tickets_open] ? agente.preferences[:tickets_open] : 0 %> </td>
								  <td><%= agente.preferences[:tickets_closed] ? agente.preferences[:tickets_closed] : 0 %> </td>							 
								</tr>
							<% end %>
						<% end %>
				</table>
		  </div>
		</div>

		<div class="card col-md-12 col-sm-12 col-xl-5">
		  <div class="card-header text-center">
		    Tickets Nuevos
		  </div>
		  <div class="card-body text-center table-responsive">
		  	<table class="table">
		  		<thead>
		  			<tr>
		  			  <th scope="col">Created_at</th>
				      <th scope="col">Customer</th>
				      <th scope="col">Owner</th>
				      <th scope="col">Group</th>
				      <th scope="col">Created_by</th>
				    </tr>
		  		</thead>
		  		<tbody>
					  <% @tickets_new.reverse_each do |ticket| %>
					  	<tr>
					  		<td><%= ticket.created_at[0..9] %></td>
						  	<td><%= ticket.customer %></td>
						  	<td><%= ticket.owner %></td>
						  	<td><%= ticket.group %></td>
						  	<td><%= ticket.created_by %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
		  </div>
		</div>
	</div>


	<div class="card col-md-12 col-sm-12 col-xl-5 ">
	  <div class="card-header text-center">
		  Tickets Abiertos
	  </div>
	  <div class="card-body text-center table-responsive">
	  	<table class="table">
	  		<thead>
	  			<tr>
	  				<th scope="col">Created_at</th>
			      <th scope="col">Customer</th>
			      <th scope="col">Owner</th>
			      <th scope="col">Group</th>
				    <th scope="col">Created_by</th>
			    </tr>
	  		</thead>
	  		<tbody>
				  <% @tickets_open.reverse_each do |ticket| %>
				  	<tr>
				  		<td><%= ticket.created_at[0..9] %></td>
					  	<td><%= ticket.customer %></td>
					  	<td><%= ticket.owner %></td>
					  	<td><%= ticket.group %></td>
						  <td><%= ticket.created_by %></td>
						</tr>
					<% end %>
			</table>
	  </div>
	</div>

	<div class="card col-md-12 col-sm-12 col-xl-5">
	  <div class="card-header text-center">
	    Tickets cerrados
	  </div>
	  <div class="card-body text-center table-responsive">
	  	<table class="table">
	  		<thead>
	  			<tr>
	  				<th scope="col">Created_at</th>
			      <th scope="col">Customer</th>
			      <th scope="col">Owner</th>
			      <th scope="col">Group</th>
				    <th scope="col">Created_by</th>
			    </tr>
	  		</thead>
	  		<tbody>
				  <% @tickets_closed.reverse_each do |ticket| %>
				   	<tr>
				   		<td><%= ticket.created_at[0..9] %></td>
					  	<td><%= ticket.customer %></td>
					  	<td><%= ticket.owner %></td>
					  	<td><%= ticket.group %></td>
						  <td><%= ticket.created_by %></td>
						</tr>
					<% end %>
			</table>
	  </div>
	</div>

	<div class="card col-md-12 col-sm-12 col-xl-5">
	  <div class="card-header text-center ">
	    Tickets recordatorio pendiente
	  </div>
	  <div class="card-body text-center table-responsive">
	  	<table class="table">
	  		<thead>
	  			<tr>
	  				<th scope="col">Created_at</th>
			      <th scope="col">Customer</th>
			      <th scope="col">Owner</th>
			      <th scope="col">Group</th>
				    <th scope="col">Created_by</th>
			    </tr>
	  		</thead>
	  		<tbody>
				  <% @pending_reminder.reverse_each do |ticket| %>
				  	<tr>
				  		<td><%= ticket.created_at[0..9] %></td>
					  	<td><%= ticket.customer %></td>
					  	<td><%= ticket.owner %></td>
					  	<td><%= ticket.group %></td>
						  <td><%= ticket.created_by %></td>
						</tr>
					<% end %>
			</table>
	  </div>
	</div>

	<div class="card col-md-12 col-sm-12 col-xl-5">
	  <div class="card-header text-center">
	    Tickets cierre pendiente
	  </div>
	  <div class="card-body text-center table-responsive">
	  	<table class="table">
	  		<thead>
	  			<tr>
	  				<th scope="col">Created_at</th>
			      <th scope="col">Customer</th>
			      <th scope="col">Owner</th>
			      <th scope="col">Group</th>
				    <th scope="col">Created_by</th>
			    </tr>
	  		</thead>
	  		<tbody>
				  <% @pending_close.reverse_each do |ticket| %>
				  	<tr>
				  		<td><%= ticket.created_at[0..9] %></td>
					  	<td><%= ticket.customer %></td>
					  	<td><%= ticket.owner %></td>
					  	<td><%= ticket.group %></td>
						  <td><%= ticket.created_by %></td>
						</tr>
					<% end %>
			</table>
	  </div>
	</div>


</div>
<br><br><br>

<style type="text/css">
	.card{
		margin: 50px;
	}
	.centrado {
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
}
</style>
