<div class="cabecera">
  <p align=center class="titulo1">Actualización de Carpetas ó Documentos</p>
  <% @tituloArm = ""
    arma_Titulo(params[:cveant]) %>
  <p class="titulo2"><%= @tituloArm if params.has_key?(:cveant) %></p>
</div>
<br>
<p>
  <% if params.has_key?(:cveant) && params[:cveant] != "" && params[:cveant] != "*" %>
    <a class="btn pull-left btn-primary btn-xs" href="/documentos?cveant=<%=params[:cveant]%>" role="button"><span class="glyphicon glyphicon-backward"></span> Volver</a>
  <% else %>
    <a class="btn pull-left btn-primary btn-xs" href="/documentos" role="button"><span class="glyphicon glyphicon-backward"></span> Volver</a>
  <% end %>

  <a class="btn pull-right btn-primary btn-xs" href="/documentos_admin_new?cveant=<%=params[:cveant]%>" role="button"><span class="glyphicon glyphicon-plus"></span> Carpeta o Documento</a>

  <% if current_user.has_role? :admin %>
    <a class="btn pull-right btn-primary btn-xs" href="/documentos_admin_multiple_files?cveant=<%=params[:cveant]%>&clave=<%= params[:cveant] %>" role="button"><span class="glyphicon glyphicon-plus"></span> Subir Múltiples Documentos</a>
    &nbsp;
  <% end %>
</p> 
<br>

<div class="col-md-12 col-sm-12 center-block inner-top-sm">

  <table cellpadding="0" cellspacing="0" border="0" class="table-condensed table-hover table-bordered table-striped" id="example">

    <thead>
      <tr>
        <th>Carpeta o Documento</th>
        <th>Título</th>
        <th>Imagen</th>
        <th>Archivo</th>
        <th>Nota</th>
        <th>Fecha</th>
        <th>Orden</th>
        <th>Añadir</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @documentos.each do |m| %>
        <tr>
          <% if m['Ubicacion'].to_s.length > 0 %>
            <td><%= m['Clave'] %></td>
          <% else %>
            <td><%= link_to m['Clave'], "/documentos_admin?cveant=#{m['Clave']}" %></td>
          <% end %>
          <td><%= m['Nombre'] %></td>
          <td><%= m['Imagen'] %></td>
          <td><%= m['Ubicacion'] %></td>
          <td><%= m['Nota'] %></td>
          <td><%= m['Fecha'] %></td>
          <td><P align=right><%= number_to_currency(m['NumOrd'], :locale => :mx, :unit => "", :precision => 2) %></td>
          <td>
            <%= link_to 'Imagen', "/documentos_admin_image?cveant=#{m['CveAnt']}&clave=#{m['Clave']}", id: "margen5", class: "btn btn-xs btn-success" %>
            <%= link_to 'Archivo', "/documentos_admin_file?cveant=#{m['CveAnt']}&clave=#{m['Clave']}", id: "margen5", class: "btn btn-xs btn-success" %>
          </td>
          <td>
            <%= link_to 'Editar', "/documentos_admin_edit?cveant=#{m['CveAnt']}&clave=#{m['Clave']}&regreso=1&editado=1", id: "margen5", class: "btn btn-xs btn-primary" %>
            <%= link_to 'Borrar', "/documentos_admin_destroy?cveant=#{m['CveAnt']}&clave=#{m['Clave']}", method: :delete, data: { confirm: 'Está seguro?' }, id: "margen5", class: "btn btn-xs btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
label{
  display: none;
}
.dataTables_filter.md-form {
    margin-top: .55rem;
}
.dataTables_filter.md-form input{
    font-weight: 300;
}
.dataTables_wrapper .row {
    margin-bottom: 1.5rem;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    padding-bottom: 1rem;
}
.dataTables_paginate {
    float: right;
}
.dataTables_filter {
    float: right;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
  $('#example').DataTable({"pageLength": 100 });
  $('.dataTables_wrapper').find('label').each(function() {
    $(this).parent().append($(this).children());
  });
  $('.dataTables_filter').find('input').each(function() {
    $('input').attr("placeholder", "Buscar");
    $('input').removeClass('form-control-sm');
  });
  $('.dataTables_length').addClass('d-flex flex-row');
  $('.dataTables_filter').addClass('md-form');
  $('select').addClass('mdb-select');
  $('.mdb-select').removeClass('form-control form-control-sm');
  $('.dataTables_filter').find('label').remove();
});
</script>

