
<%= form_tag('/contenedores_mails', class: 'form-horizontal' )  do |f| %>

  <div class="form-inputs loader-form ">

    <br>

    <div class="form-group">
      <label class="control-label col-md-3">Email</label>
      <div class="col-md-5 text-right">
        <%= text_field_tag 'Email', @contenedoresmail ? @contenedoresmail['Email'] : nil, label: false, placeholder: "nombre@pintacomex.mx", class: 'form-control' %>
        <p class="help-block">Ingrese el Email que Recibirá el Email</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3">Frecuencia</label>
      <div class="col-md-5 text-right">
        <%= select_tag 'Frecuencia', options_for_select((0..2).collect{|t| [ get_nom_frecuencia(t), t ]}, @contenedoresmail ? @contenedoresmail['Frecuencia'] : nil), label: false, placeholder: "Frecuencia", include_blank: false, class: 'form-control' %>
        <p class="help-block">Ingrese la Frecuencia con la que Recibirá los Emails</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3">IdTarea</label>
      <div class="col-md-5 text-right">
        <%= select_tag 'IdTarea', options_for_select(@tareas.collect{|t| [ "#{t['IdTarea'].to_i} - #{t['Nombre']}", t['IdTarea'].to_i ]}.unshift(["0 - Todas las pendientes/atrasadas del día", 0]), @contenedoresmail ? @contenedoresmail['IdTarea'] : nil), label: false, placeholder: "IdTarea", class: 'form-control' %>
        <p class="help-block">Ingrese la IdTarea a notificar los cambios. Si es cero, es correo con Todas las Pendientes/Atrasadas del Día</p>
      </div>
    </div>

  </div>

  <div class="form-actions loader-form text-center">
    <%= submit_tag "Enviar", class: "btn btn-primary btn-lg" %>
  </div>
  <br><br>
<% end %>
