<h1 class="text-center">Configuración de Correos de Notificación</h1>

<div class="pull-right text-right">
  <small>
    <a href="/contenedores/" class="btn btn-primary btn-xs">Ver Contenedores</a>
  </small>
</div>


  <div class="col-md-12 col-sm-12 center-block inner-top-sm">
    <br>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered table-striped text-center" id="example">

      <thead>
        <tr>
          <th><a href="#" data-toggle="tooltip" title="Direccion de Email para Envío">Email</a></th>
          <th><a href="#" data-toggle="tooltip" title="Frecuencia Diaria/Semanal/Mensual a Notificar">Frecuencia</a></th>
          <th><a href="#" data-toggle="tooltip" title="Id Tarea a notificar los cambios, si es 0 es correo con todas las pendientes/atrasadas del día">Id Tarea</a></th>
          <th></th>
        </tr>
      </thead>

      <% if @contenedoresmails && @contenedoresmails.count > 0 %>

        <tbody>
          <% @contenedoresmails.each_with_index do |m, index| %>
            <tr>
              <td><%= m['Email'] %></td>
              <td><%= get_nom_frecuencia(m['Frecuencia']) %></td>
              <td><%= m['IdTarea'].to_i %></td>
              <td>
                <%= link_to 'Enviar Email', "/contenedores_enviar_mails_robot?index=#{index}", data: { confirm: 'Está seguro que desea enviar el mail?' }, target: '_blank', class: "btn btn-primary btn-xs" %>
                <%= link_to 'Borrar', m, method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-danger btn-xs" %>
              </td>
            </tr>
          <% end %>
        </tbody>

      <% end %>

    </table>
    <br />

  <a href="/contenedores_mails_new/" class="btn btn-primary">Crear Nuevo Email</a>

</div>

<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
label{
  display: none;
}
.dataTables_filter.md-form {
    margin-top: .55rem;
}
.dataTables_filter.md-form input{
    font-weight: 300;
}
.dataTables_wrapper .row {
    margin-bottom: 1.5rem;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
    padding-bottom: 1rem;
}
.dataTables_paginate {
    float: right;
}
.dataTables_filter {
    float: right;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
  $('#example').DataTable({"pageLength": 100 });
  $('.dataTables_wrapper').find('label').each(function() {
    $(this).parent().append($(this).children());
  });
  $('.dataTables_filter').find('input').each(function() {
    $('input').attr("placeholder", "Buscar");
    $('input').removeClass('form-control-sm');
  });
  $('.dataTables_length').addClass('d-flex flex-row');
  $('.dataTables_filter').addClass('md-form');
  $('select').addClass('mdb-select');
  $('.mdb-select').removeClass('form-control form-control-sm');
  $('.dataTables_filter').find('label').remove();
});
</script>

